.container {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	text-align: center;
	align-items: center;
	width: 100%;
	height: calc(100vh - 69px);
}

.user-image {
	height: 150px;
	border-radius: 50%;
	margin-bottom: 15px;
}
